# templates
templates/
*.md
.cursorrules
.windsurfrules

# dependencies
node_modules/
.pnpm-store/

# nuxt
.nuxt/
.output/
dist/

# env
.env
.env.*
.env.local
.env.local.*
.env.*.local

# editor
.vscode/
.idea/
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# database
prisma/dev.db
prisma/dev.db-journal
