[build]
  command = "turbo run build --filter web"
  publish = "apps/web/.output/public"

[build.environment]
  NODE_VERSION = "18"
  PNPM_VERSION = "9.1.0"

[functions]
  directory = "apps/web/.output/server"

