[build]
  command = "rm -rf node_modules/.pnpm && pnpm install --shamefully-hoist --no-frozen-lockfile && pnpm turbo build --filter=web"

[build.environment]
  NODE_VERSION = "20"
  PNPM_VERSION = "9.1.0"
  NPM_FLAGS = "--force"
  NUXT_TELEMETRY_DISABLED = "1"
  SECRETS_SCAN_OMIT_KEYS = "NUXT_PUBLIC_SITE_URL,NUXT_PUBLIC_SUPABASE_ANON_KEY,NUXT_PUBLIC_SUPABASE_URL,SUPABASE_SERVICE_ROLE_KEY"
  CYPRESS_INSTALL_BINARY = "0"
  SQLITE3_COMPILE = "false"
  npm_config_build_from_source = "false"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server/:splat"
  status = 200