[build]
  command = "cd apps/web && pnpm build"
  publish = "apps/web/.output/public"

[functions]
  directory = "apps/web/.output/server"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/.netlify/builders/server"
  status = 200

[build.environment]
  NODE_VERSION = "22"
  PNPM_VERSION = "9.1.0"
  NUXT_TELEMETRY_DISABLED = "1"
  SECRETS_SCAN_OMIT_KEYS = "NUXT_PUBLIC_SITE_URL,NUXT_PUBLIC_SUPABASE_ANON_KEY,NUXT_PUBLIC_SUPABASE_URL,SUPABASE_SERVICE_ROLE_KEY"
  CYPRESS_INSTALL_BINARY = "0"
  SQLITE3_COMPILE = "false"
  npm_config_build_from_source = "false"
  NODE_OPTIONS = "--max-old-space-size=4096"