[build]
  command = "pnpm install && pnpm turbo build --filter=web"
  publish = "apps/web/.output/public"

[build.environment]
  NODE_VERSION = "18"
  PNPM_VERSION = "9.1.0"
  NPM_FLAGS = "--force"
  NUXT_TELEMETRY_DISABLED = "1"
  SECRETS_SCAN_OMIT_KEYS = "NUXT_PUBLIC_SITE_URL,NUXT_PUBLIC_SUPABASE_ANON_KEY,NUXT_PUBLIC_SUPABASE_URL,SUPABASE_SERVICE_ROLE_KEY"

## No explicit functions directory. Nitro with Netlify preset will generate and Netlify will detect it automatically.

